[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
matplotlib = "*"
jupyterlab = "*"
teneto = "*"
pandas = "*"
web3 = "*"
ipywidgets = "*"
tables = "*"
tqdm = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
